<p id="notice"><%= notice %></p>

<p>
  <strong>Spicy:</strong>
  <%= @taco.spicy %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @taco.meat %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @taco.weight %>
</p>

<p>
  <strong>Zest:</strong>
  <%= @taco.zest %>
</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
