<h1>New Orchestra</h1>

<%= form_for @orchestra do |f|%>
<%= f.label :name%>
<%= f.text_field :name%>

<%= f.label :classification %>
<%= f.text_field :classification %>

<%= f.label :conductor %>
<%= f.collection_select :conductor_id, Conductor.all, :id, :name %>

<%= f.submit "Submit"%>
<% end %>

<% if flash[:messages]%>
    <%=flash[:messages]%>
    <%end%>


