<%= form_for @brew do |f| %>
    <div>Blend_name:<%= f.text_field :blend_name %></div><br />
    <div>Origin:<%= f.text_field :origin %></div><br />
    <div>Notes:<%= f.text_area :notes %></div><br />
    <div>Strength:<%= f.number_field :notes %></div><br />
    <%= f.submit %>
<%end%>
<% if flash[:notice] %>
    <%= flash[:notice].each do |notice|%>
        <%=notice%>
    <%end%>
<%end%>